Flask
gunicorn
sqlalchemy
pg8000

alembic          
asn1crypto       
blinker          
click            
dnspython         
dominate         
email_validator   
           
Flask-Bootstrap  
Flask-Login      
Flask-Mail       
Flask-Migrate    
Flask-Moment      
Flask-SQLAlchemy  
Flask-WTF        
greenlet         
idna              
itsdangerous     
Jinja2           
Mako            
MarkupSafe       
packaging        
          
python-dateutil   
scramp            
six              
SQLAlchemy        
typing_extensions 
visitor           
Werkzeug          
WTForms          
captcha

python-dotenv