{% extends "base.html" %}

{% block title %}Fallout Eshop{% endblock %}

{% block content %}
<div class="container">
    <div class="container">
    <h1 class="text-center mt-2 mb-4">Welcome to the Vault! </h1>
      <img class="img-fluid" id="banner" src="{{ url_for('static', filename='fallout.jpeg') }}">
    <hr></div>
    <p>Choose an action:</p>
    <ul>
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register New User</a></li>
        {% else %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}






